.app-container {
    display: flex;
    height: 100vh; 
    background-color: rgb(248, 249, 249);
  }
  
  .left{
    flex: 25%;
    background-color: rgb(248, 249, 249);

    flex: 25%;
    color: black;
    padding: 20px;

    display: flex;
    flex-direction: column;
    position: relative; 
  }
  
  .right{
    flex: 75%;
    background-color: rgb(248, 249, 249);

    flex: 75%;
    background-image: url('../img/myphoto.jpg'); 
    background-size: cover; 
    background-position: center; 
    color: white; 
  }

  /*왼쪽*/
  

  .rotated-text {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: black;
    font-size: 30px;
  }
  
.header{
  flex: 50%; 
  display: flex;
  color: black;
}

.main {
  flex: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  font-family: var(--font-Orbit);

  transition: transform 0.3s ease, font-weight 0.3s ease;
}


.footer {
  flex: 5%; 
  display: flex;
  justify-content: end;
  color: black;
}

.footer div {
  margin-top: 30%;
}

.main:hover {
  transform: translateY(-5px); 
  font-weight: bold; 
}

.icon {
  width: 32px; 
  height: 32px; 
  margin-right: 10px;
}

.myPage-text {
  font-size: 26px; 
  font-family: var(--font-Kdam);
}

.button {
  
  background-color: rgb(248, 249, 249);
  border: none;
  padding: 10px;
  cursor: pointer;
}

/*오른쪽*/


  
/*--------------------버튼--------------------*/
.buttons-coll {
    height: 90px;
    width: 490px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    background-color: rgb(248, 249, 249);
    margin: 0;
    border-radius: 0 0 20px 0;
    }
  button {
    margin: 0 10px;
  }
  .custom-btn {
    padding: 10px 25px;
    font-family: var(--font-Kdam);
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease; 
    position: relative;
    display: inline-block;
    margin: 10px;
  }
  
  .btn-3 {
    width: 100px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
  }

  .custom-btn.last-btn {
    margin-right: 15px; 
  }

  .btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-3:before,
  .btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: #000;
    transition: all 0.3s ease;
  }
  .btn-3:before {
    height: 0%;
    width: 2px;
  }
  .btn-3:after {
    width: 0%;
    height: 2px;
  }
  .btn-3:hover:before {
    height: 100%;
  }
  .btn-3:hover:after {
    width: 100%;
  }
  .btn-3 span:before,
  .btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: #000;
    transition: all 0.3s ease;
  }
  .btn-3 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-3 span:after {
    width: 0%;
    height: 2px;
  }
  .btn-3 span:hover:before {
    height: 100%;
  }
  .btn-3 span:hover:after {
    width: 100%;
  }
/* ----------------------------------------*/
  

.page-transition-enter {
  opacity: 0;
  transform: translateY(20px); 
}

.page-transition-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.page-transition-exit {
  opacity: 1;
  transform: translateY(0);
}

.page-transition-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 300ms, transform 300ms;
}

.your-page-content {
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}