.head {


    width: 100%;
    height: 200px;

    margin-top: 100px;

    font-family: var(--font-nexon_medium);
}

.body {
    width: 100%;
    height: 600px;

    font-family: var(--font-nexon_medium);
}


.profile_img {

    width: 200px;
    height: 200px;
    border-radius: 70%;

    float: left;

    margin-left: 20%;
    background-image: url("../img/myphoto2.jpg");
    background-size: cover;
    background-position: center;
    
}

.intro {

    width: 600px;
    height: 150px;
    float: left;
}

.intro_name {

    width: 600px;
    height: 75px;

    padding-left: 50px;
    padding-top: 50px;

    /*font style*/
    font-size: 60px;
    font-weight: bold;
    color: rgba(95,123,205);
}

.intro_j{
   
    width: 600px;
    height: 65px;
    font-size: 30px;
    padding-left: 50px;
    padding-top: 10px;
}

.phoneNumber {

    width: 200px;
    height: 150px;
    float: left;

    padding-top: 50px;
    font-size: 20px;
}

.body_left {

    height: 600px;
    width: 30%;
    float: left;

    margin-left: 20%;
}

.resume {

    height: 250px;
    width: 500px;

    margin-top: 70px;
}


.body_right {


    height: 600px;
    width: 30%;
    float: left;
    margin-right: 20%;

}

.bord {
    border-bottom: solid 2px rgba(95,123,205);;
    width: 500px;

    color: rgba(95,123,205);

    font-size: 25px;
    margin-bottom: 10px;
 }

 .tech {

    height: 250px;
    width: 500px;

 }

 .school {
    height: 250px;
    width: 100%;

    margin-top: 70px;

    margin-left: 20px;
 }
 